<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RideJKT.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B70CE5F3B4326F56620F42E2835DED50C8D52FA4</string>
				<key>dateExpires</key>
				<string>2021/4/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8368MNUZS2.com.ridejkt.app</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8368MNUZS2</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>RideJKT.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e96ab698-6207-422c-b444-fd0b9fc51f30</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.ridejkt.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8368MNUZS2</string>
				<key>name</key>
				<string>SEPEDA CEMERLANG JAYA, PT</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
